.diferenciais {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    background-color: #35363de5;
}

.diferenciais__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.diferenciais__item {
    width: 40%;

    box-sizing: border-box;

    padding: 2rem 0 2rem 5rem;
    
    background-repeat: no-repeat;

    background-position: top 1.5rem left 2.5rem;
}

.diferenciais__item--missao {
    background-image: url(../img/missao2.png);
}

.diferenciais__item--visao {
    background-image: url(../img/visao2.png);
}

.diferenciais__item--valores {
    background-image: url(../img/valores2.png);
}

.item__titulo {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

.item__texto {
    line-height: normal;
    margin-left: 1rem;
}