.fixed-icon {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
  }
  
  .fixed-icon img {
    font-size: 4rem;
    padding: 0.5rem;
    width: 80px;
  }
  
  .fixed-icon img:hover {
    transition: 0.7s;
    width: 100px;
    cursor: pointer;
  }