.fixed-icon {
    position: fixed;
    bottom: 10vh;
    right: 1.5rem;
    z-index: 9999;
    border: none;

    @media screen and  (max-width: 480px) {
      display: none;
    }

  }
  
  .fixed-icon img {
    font-size: 4rem;
    width: 80px;
    border: none;

    @media screen and  (max-width: 480px) {
     display: none; 
    }
  }
  
  .fixed-icon img:hover {
    transition: 0.7s;
    width: 100px;
    cursor: pointer;

    @media screen and  (max-width: 480px) {
     display: none; 
    }
  }