.container {
    padding-top: 1rem;
    padding-right: 15%;
    padding-left: 15%;
    color:  #FFFFFF;

    @media screen and (max-width: 480px){
        padding-left: 10%;
        padding-right: 10%;
    }
}

.button__primario{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    background-color: #FFD700;
    color: #1E1F22;
    font-weight: 550;
    border: none;
}

.titulo-h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
    text-align: left;
    padding: 0.5rem;
    border-radius: 5px;
}